<footer class="footer">
  <mat-toolbar class="footer" color="primary">



    <div fxFlex fxLayout="row" fxLayoutAlign="space-between center" style="position: absolute;right: 0;">

      <mat-icon aria-hidden="false" aria-label="Example copyright icon" fontIcon="copyright"></mat-icon>

      <span><mat-icon aria-hidden="false" aria-label="Example mail icon" fontIcon="mail">

      </mat-icon>&nbsp; <span style="position: relative;
      top: -5px;">
        aadhirabedscbe&#64;outlook.com
      </span>
    </span>
    </div>
  


  </mat-toolbar>
</footer>